In [5]:
# displaying records in the data set
pd.set_option('display.max_columns',None)
boDf=pd.read_csv('c:\cc\ebd.csv')
boDf

,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN_EDUCATION,TOTAL_ GROSS,POSTAL
0,"Gavin,Donna M.",Boston Police Department,Police Lieutenant (Det),"53,226.90",NaN,"1,045,845.44",463.52,NaN,NaN,"12,812.39","1,112,348.25",02186
1,"Cassellius,Brenda",Superintendent,Superintendent,"179,109.61",NaN,"417,839.83",NaN,NaN,NaN,NaN,"596,949.44",55419
2,"Dempsey,John",Boston Fire Department,Commissioner (BFD),"133,653.78",NaN,"312,752.53",NaN,NaN,NaN,NaN,"446,406.31",02152
3,"Demesmin,Stanley",Boston Police Department,Police Lieutenant (Det),"145,775.26",NaN,"13,932.92","196,515.25",NaN,"11,880.00","29,155.26","397,258.69",02052
4,"Smith,Sean P",Boston Police Department,Police Lieutenant,"142,535.62",NaN,"18,827.45","142,692.38",NaN,"46,365.00","35,633.88","386,054.33",02186
...,...,...,...,...,...,...,...,...,...,...,...,...
23199,"wheeler,Stephen clifford",Boston Cntr - Youth & Families,Lifeguard I,42.01,NaN,NaN,NaN,NaN,NaN,NaN,42.01,02129
23200,"Harris,Gloria",BPS Office Of Budget Mgmt,Attendant,24.23,NaN,NaN,NaN,NaN,NaN,NaN,24.23,02136
23201,"Jackson,Wanita Tina",Boston Police Department,School Traffic Supv,23.68,NaN,NaN,NaN,NaN,NaN,NaN,23.68,02119
23202,"Paul,Desmond",BPS Substitute Teachers/Nurs,Substitute Teacher HE,21.28,NaN,NaN,NaN,NaN,NaN,NaN,21.28,02119
23203,"Robinson,Marvin L",BPS Substitute Teachers/Nurs,Substitute Teacher HE,14.06,NaN,NaN,NaN,NaN,NaN,NaN,14.06,02126

In [6]:
# number of rows and columns
boDf.shape

(23204, 12)

In [7]:
# general info
boDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23204 entries, 0 to 23203
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NAME             23204 non-null  object
 1   DEPARTMENT_NAME  23204 non-null  object
 2   TITLE            23204 non-null  object
 3   REGULAR          22604 non-null  object
 4   RETRO            3092 non-null   object
 5   OTHER            15826 non-null  object
 6   OVERTIME         6812 non-null   object
 7   INJURED          1221 non-null   object
 8   DETAIL           2116 non-null   object
 9   QUINN_EDUCATION  1369 non-null   object
 10  TOTAL_ GROSS     23204 non-null  object
 11  POSTAL           23204 non-null  object
dtypes: object(12)
memory usage: 2.1+ MB

In [7]:
#top 5 
bodf.head()

NameError: name 'bodf' is not defined

In [9]:
#wanted no of rows 
boDf.head(15)

,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN_EDUCATION,TOTAL_ GROSS,POSTAL
0,"Gavin,Donna M.",Boston Police Department,Police Lieutenant (Det),"53,226.90",NaN,"1,045,845.44",463.52,NaN,NaN,"12,812.39","1,112,348.25",02186
1,"Cassellius,Brenda",Superintendent,Superintendent,"179,109.61",NaN,"417,839.83",NaN,NaN,NaN,NaN,"596,949.44",55419
2,"Dempsey,John",Boston Fire Department,Commissioner (BFD),"133,653.78",NaN,"312,752.53",NaN,NaN,NaN,NaN,"446,406.31",02152
3,"Demesmin,Stanley",Boston Police Department,Police Lieutenant (Det),"145,775.26",NaN,"13,932.92","196,515.25",NaN,"11,880.00","29,155.26","397,258.69",02052
4,"Smith,Sean P",Boston Police Department,Police Lieutenant,"142,535.62",NaN,"18,827.45","142,692.38",NaN,"46,365.00","35,633.88","386,054.33",02186
5,"McCormick,Kelley J",Boston Police Department,Police Captain,"147,690.64",NaN,"7,452.73","83,593.06","16,410.06","78,060.00","41,025.08","374,231.57",02476
6,"Long,Gregory P",Boston Police Department,Supn-In Chief,"290,703.31",NaN,"30,244.46",NaN,NaN,NaN,"52,180.57","373,128.34",02021
7,"Danilecki,John H",Boston Police Department,Police Captain,"164,100.70",NaN,"24,504.13","71,315.48",NaN,"61,200.00","41,025.08","362,145.39",02559
8,"Webb,Keith A",Boston Police Department,Police Sergeant (Det),"130,930.12",NaN,"19,722.83","134,229.14",NaN,"37,312.00","32,732.72","354,926.81",02121
9,"McMahon,Joseph G",Boston Fire Department,Chief of Support Services,"146,502.16",NaN,"208,058.56",NaN,NaN,NaN,NaN,"354,560.72",02492
10,"Doherty,Michael J.",Boston Fire Department,Dep Fire Chief,"217,551.17",NaN,"9,910.46","54,940.44","3,328.21","64,018.25",NaN,"349,748.53",01867
11,"Sweeney,Steven",Boston Police Department,Police Captain/DDC,"163,885.36",NaN,"24,423.09","118,219.68",NaN,"2,040.00","40,971.28","349,539.41",02131
12,"Cahill,Gerard M",Boston Fire Department,District Fire Chief Admin-ADR,"1,303.10",NaN,"169,069.15",NaN,"178,368.81",NaN,NaN,"348,741.06",02360
13,"Hocking,Michael E",Boston Fire Department,Dep Fire Chief,"211,335.49",NaN,"9,935.46","72,410.32","9,543.89","44,856.00",NaN,"348,081.16",02332
14,"Barrett,Thomas E.",Boston Police Department,Police Sergeant (Det),"130,930.12",NaN,"16,723.95","163,494.70",NaN,NaN,"32,732.72","343,881.49",02132

In [10]:
#extract all the columns of dataset
boDf.columns

Index(['NAME', 'DEPARTMENT_NAME', 'TITLE', 'REGULAR', 'RETRO', 'OTHER',
       'OVERTIME', 'INJURED', 'DETAIL', 'QUINN_EDUCATION', 'TOTAL_ GROSS',
       'POSTAL'],
      dtype='object')

In [11]:
# check for null values 
boDf.isna().sum()

NAME                   0
DEPARTMENT_NAME        0
TITLE                  0
REGULAR              600
RETRO              20112
OTHER               7378
OVERTIME           16392
INJURED            21983
DETAIL             21088
QUINN_EDUCATION    21835
TOTAL_ GROSS           0
POSTAL                 0
dtype: int64

In [12]:
#check duplicate values 
boDf.duplicated().sum()

0

In [13]:
#calculate the mean, std and other stastic attributes
boDf.describe()

,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN_EDUCATION,TOTAL_ GROSS,POSTAL
count,23204,23204,23204,22604,3092,15826,6812,1221,2116,1369,23204,23204
unique,23133,232,1507,19422,2917,6294,6740,1150,1246,818,22428,580
top,"Kelly,Michael",Boston Police Department,Teacher,"104,644.14",728.97,"1,250.00",283.12,"94,596.32",368.00,"26,161.00","1,500.00",02124
freq,4,3040,5304,49,25,1149,4,9,77,31,31,1867

In [14]:
#show unique values 
for i, col in enumerate(boDf.columns):
    print(f"\n\n{boDf[col].unique()}")
    print(f"\n{boDf[col].value_counts()}\n\n")

['Gavin,Donna M.' 'Cassellius,Brenda' 'Dempsey,John' ...
 'Jackson,Wanita Tina' 'Paul,Desmond' 'Robinson,Marvin L']

Kelly,Michael            4
Kelly,Michael Joseph     3
Sullivan,Michael         3
Sullivan,Kevin           2
Sanchez,David            2
                        ..
Roberts,Eleanor          1
Knight,Sacha McIntosh    1
Conille,Pharamond        1
Jette,Drina              1
Robinson,Marvin L        1
Name: NAME, Length: 23133, dtype: int64




['Boston Police Department' 'Superintendent' 'Boston Fire Department'
 'Inspectional Services Dept' 'BPS Human Resource Team'
 'Public Works Department' 'School Support & Tranformation'
 'Strategy Department' 'Boston Public Library'
 'Workers Compensation Service' 'Kennedy, EM Health Academy'
 'BPS Facility Management' 'Election Division' "Mayor's Office"
 'Dpt of Innovation & Technology' 'Traffic Division' 'Eliot K-8'
 'BPS Facility Mgmt/A & R' 'BPS Special Education'
 'BPS High School Renewal' 'BPS Tynan Elementary' 'Tech Boston Academy'
 'BPS East Boston High' 'Chief Financial Officer' 'Fam & Student Engagemt'
 'Office of People Operations' 'Chief Operating Officer'
 'BPS Murphy Elementary' 'BPS New Mission Pilot' 'BPS Business Service'
 'Property Management' 'Parks Department' 'Boston Retirement System'
 'Law Department' 'Curley K-8' 'Gardner Pilot  Academy' 'BPS Boston Latin'
 'Accountability' 'Henderson Elementary' 'Treasury-Treasury Division'
 'Office of Housing' 'BPS Brighton High' 'BPS Equity'
 'BPS School Safety Service' 'BPS McKinley Middle' 'BPS Quincy Elementary'
 'BPS Health Service' 'BPS Transportation' 'Unified Student Svc'
 'BPS Everett Elementary' 'Newcomers Academy' 'Warren/Prescott K-8'
 'Office of Admin & Finance' 'BPS Health and Wellness'
 'BPS Otis Elementary' 'Haley Pilot' 'Lyon Pilot High 9-12'
 'Auditing Department' 'BPS Trotter Elementary' 'BPS English High'
 'BPS Guild Elementary' 'BPS Lee Elementary' 'BPS Chittick Elementary'
 'Margarita Muniz Academy' 'Achievement Gap' 'Chief Academic Officer'
 'ASD Human Resources' 'BPS Taylor Elementary' 'Green Academy'
 'Mattahunt Elementary School' 'Assessing Department'
 'Food & Nutrition Svc' 'BPS Madison Park High'
 'BPS Boston Comm Leadership Ac' 'ASD Office of Budget Mangmnt'
 'Early Learning Services' 'BPS Boston Arts Academy' 'BPS Carter Center'
 'Perry K-8' 'BPS Boston International HS' 'Cemetery Division'
 'Off of Eco Opp & Incl' 'Kennedy, PJ Elementary'
 'BPS Beethoven Elementary' 'BPS Winthrop Elementary'
 'Advancement & Ext. Affairs' 'BPS Fenway High'
 'BPS Alternative Education HS' 'BPS Channing Elementary'
 'BPS Counseling & Intervtn Ct' 'Emergency Management'
 'Treasury-Collecting Division' 'Tobin K-8' 'BPS South Boston HS - Excel'
 'Environment Department' 'BPS Mckay Elementary' 'Roosevelt K-8'
 'Career & Technical Ed' 'Quincy Upper School' 'BPS Condon Elementary'
 'Haynes EEC' 'Umana Middle' 'Info & Instr Technology'
 'BPS Bradley Elementary' 'BPS Harvard/Kent Elementary' 'Kilmer K-8'
 'Frederick Pilot Middle' 'Neighborhood Services'
 "BPS O'Donnell Elementary" 'BPS Burke High' 'Young Achievers K-8'
 'BPS Boston Evening Academy' 'Kennedy, JF Elementary' 'Lyndon K-8'
 'BPS Bates Elementary' 'BPS Ohrenberger Elementary' 'Office of Streets'
 'Office of Equity' 'BPS Labor Relations' 'BPS Orchard Gardens K-8 Pilot'
 'BPS Dearborn Middle' 'BPS Dever Elementary' 'BPS Latin Academy'
 'HPEC: Com Acd Science & Health' 'BPS Russell Elementary'
 'BPS Winship Elementary' 'English Language Learn'
 'Consumer Affairs & Licensing' 'BPS Another Course To Colleg'
 'Finance Commission' 'Ellison/Parks EES' 'BPS Grew Elementary'
 'Edison K-8' 'BPS Charlestown High' 'BPS Adult Education'
 'BPS Horace Mann' 'Mildred Avenue K-8' 'Public Facilities Department'
 'BPS Counseling Service' 'Boston Collaborative High Sch'
 'Teaching & Learning' 'BPS Mason Elementary' 'Chief of Staff' 'OPAT'
 'Student Support Svc' 'Hernandez K-8' 'BPS Mather Elementary'
 'Office of Arts & Culture' 'BPS Welcome Services'
 'Research Assess & Eval' 'Greater Egleston High' 'BPS Adams Elementary'
 'BPS Hennigan Elementary' 'BPS Kenny Elementary'
 'Transportation-Parking Clerk' 'Hurley K-8' 'BPS Sumner Elementary'
 'Lyon K-8' 'King K-8' 'UP Academy Holland' 'BPS Blackstone Elementary'
 'BPS Higginson Elementary' 'BPS Philbrick Elementary'
 "BPS O'Bryant School" 'East Boston EEC' 'UP "Unlocking Potential" Acad'
 'Baldwin ELC' 'BPS Perkins Elementary' 'BPS Snowden International Hi'
 'UP Academy Dorchester' 'Greenwood, S K-8' 'BPS Holmes Elementary'
 'BPS Ellis Elementary' 'BPS Mozart Elementary' 'BPS Athletics'
 'Dudley St. Neighborhood School' 'BPS Manning Elementary' 'City Clerk'
 'BPS Mendell Elementary' 'BPS Conley Elementary' 'West Zone ELC'
 'BPS Community Academy' 'BTU Pilot' 'Health & Human Servs'
 'Alighieri Montessori School' 'ASD Office Of Labor Relation'
 'Procurement' 'Road to Success' 'BPS Office Of Budget Mgmt'
 'Boston Cntr - Youth & Families' 'BPS Capital Planning Unit'
 'Higginson/Lewis K-8' 'BPS Alternative Education' 'Boston City Council'
 'BPS Clap Elementary' 'ASD Intergvernmtl Relations'
 'P. A. Shaw Elementary' 'BPS Hale Elementary' 'BPS McCormack Middle'
 'BPS Long Term Leave' 'BPS Cl#10 Lee Academy' 'Mission Hill K-8'
 'Age Strong' 'Supplier & Workforce Diversity' 'Off of Historic Pres'
 'Comm. for Persons with Disabil' 'Jackson/Mann K-8' 'Enrollment Services'
 'Registry Division' 'Black Male Ad' 'Offc of Language and Communica'
 'Youth Engagement & Employment' "Women's Advancement" 'Communications'
 "Veterans' Services" 'Office of Tourism' 'Turnaround and Transformation'
 'LGBTQ+ Advancement' 'Fair Housing & Equity'
 'BPS Substitute Teachers/Nurs' 'BPS Boston School Committee'
 'Legal Advisor' 'BPS Edwards Middle' 'Immigrant Advancement'
 'Human Rights Commission' 'BPS Timilty Middle' 'Office of Food Justice'
 'BPS Irving Middle' 'Office of Diversity' 'WREC: Urban Science Academy'
 'BPS Summer School Program' 'HBI Retirees,et al']

Boston Police Department        3040
Boston Fire Department          1769
BPS Special Education            873
BPS Substitute Teachers/Nurs     711
BPS Facility Management          592
                                ...
LGBTQ+ Advancement                 2
Office of Diversity                2
WREC: Urban Science Academy        1
BPS Summer School Program          1
HBI Retirees,et al                 1
Name: DEPARTMENT_NAME, Length: 232, dtype: int64




['Police Lieutenant (Det)' 'Superintendent' 'Commissioner (BFD)' ...
 'Over-Time Stipend Other' 'Mechanic' 'BPS Bi-Wkly 26 Leave non-ac']

Teacher                           5304
Paraprofessional                  1561
Police Officer                    1289
Fire Fighter                       867
Part-Time Cafeteria Attendant      435
                                  ...
Mgr of Rare Books&Manuscripts        1
Retire Benefits Manager (HBI)        1
Dir CCE                              1
Sr Facility Mgr-Maint & Trades       1
BPS Bi-Wkly 26 Leave non-ac          1
Name: TITLE, Length: 1507, dtype: int64




['53,226.90' '179,109.61' '133,653.78' ... '23.68' '21.28' '14.06']

104,644.14    49
91,784.20     42
48,919.74     39
123,922.10    36
78,716.47     36
              ..
101,113.87     1
84,791.08      1
62,360.32      1
83,094.80      1
14.06          1
Name: REGULAR, Length: 19422, dtype: int64




[nan '154.47' '7,902.84' ... '916.18' '659.46' '15.70']

728.97      25
657.74      13
2,714.14    12
800.54       8
2,943.56     6
            ..
3,429.90     1
4,168.82     1
3,155.59     1
3,564.50     1
15.70        1
Name: RETRO, Length: 2917, dtype: int64




['1,045,845.44' '417,839.83' '312,752.53' ... '713.06' '189.45' '164.98']

1,250.00     1149
800.00        960
550.00        851
1,000.00      751
850.00        254
             ...
5,602.20        1
908.70          1
10,359.18       1
7,793.96        1
164.98          1
Name: OTHER, Length: 6294, dtype: int64




['463.52' nan '196,515.25' ... '101.95' '117.64' '1,064.74']

283.12       4
328.25       4
510.34       4
45.49        4
308.99       4
            ..
36,420.66    1
24,356.09    1
29,708.27    1
35,156.80    1
1,064.74     1
Name: OVERTIME, Length: 6740, dtype: int64




[nan '16,410.06' '3,328.21' ... '2,134.29' '1,899.53' '1,782.86']

94,596.32    9
98,965.90    4
92,085.76    4
599.39       4
93,944.24    4
            ..
1,251.11     1
11,004.48    1
4,643.85     1
21,584.84    1
1,782.86     1
Name: INJURED, Length: 1150, dtype: int64




[nan '11,880.00' '46,365.00' ... '288.00' '126.00' '216.00']

368.00       77
736.00       69
752.00       34
1,472.00     27
1,840.00     20
             ..
33,120.00     1
15,981.00     1
11,538.25     1
14,414.00     1
216.00        1
Name: DETAIL, Length: 1246, dtype: int64




['12,812.39' nan '29,155.26' '35,633.88' '41,025.08' '52,180.57'
 '32,732.72' '40,971.28' '26,746.60' '29,686.31' '25,525.56' '41,125.36'
 '31,906.88' '36,444.04' '34,735.16' '31,037.11' '25,196.24' '34,882.34'
 '28,884.22' '34,742.15' '40,137.60' '31,763.16' '26,161.00' '18,311.76'
 '29,193.97' '38,941.53' '26,838.10' '21,470.66' '41,716.02' '30,994.98'
 '32,900.26' '40,940.12' '20,053.26' '26,068.12' '34,787.50' '24,484.27'
 '26,186.08' '24,795.84' '36,255.90' '24,652.05' '35,593.37' '29,909.54'
 '36,279.88' '34,325.29' '49,809.76' '49,771.45' '30,441.97' '30,698.07'
 '34,728.50' '33,636.01' '39,949.87' '24,558.56' '35,420.18' '34,827.53'
 '47,924.78' '30,606.30' '39,847.86' '30,070.30' '18,781.20' '33,734.99'
 '30,308.34' '33,221.76' '35,473.36' '47,028.26' '28,507.02' '39,990.04'
 '13,874.40' '24,741.38' '34,580.94' '12,762.78' '18,224.45' '35,170.94'
 '35,801.42' '31,613.67' '25,178.06' '26,782.12' '25,240.88' '32,006.11'
 '23,575.17' '25,555.30' '34,578.70' '30,360.20' '44,729.49' '44,691.18'
 '44,590.65' '25,042.46' '31,930.02' '44,527.10' '28,530.66' '14,062.40'
 '26,717.21' '20,646.17' '44,112.34' '34,565.52' '32,629.48' '27,614.45'
 '12,357.28' '10,225.60' '31,340.04' '35,220.11' '9,981.53' '31,119.96'
 '38,461.00' '10,026.70' '19,962.93' '19,724.70' '20,928.98' '24,287.98'
 '30,173.77' '25,635.84' '24,842.62' '35,672.52' '35,401.91' '18,696.60'
 '23,984.74' '24,165.22' '40,143.50' '34,470.68' '32,437.84' '30,197.59'
 '30,125.28' '31,309.98' '18,356.66' '30,914.56' '19,793.00' '26,314.06'
 '24,879.60' '35,783.54' '27,474.71' '35,160.67' '25,714.24' '20,281.40'
 '20,143.63' '10,735.40' '27,408.23' '30,123.26' '24,178.57' '25,099.98'
 '24,061.44' '17,993.76' '24,669.68' '34,218.39' '30,551.41' '25,832.20'
 '30,208.43' '35,927.99' '18,273.97' '31,674.96' '30,213.02' '25,150.24'
 '24,504.20' '20,192.60' '24,895.74' '18,394.45' '18,527.60' '34,678.57'
 '20,487.71' '35,853.85' '19,635.85' '20,066.60' '32,585.28' '21,407.22'
 '30,393.40' '34,569.37' '9,936.39' '19,382.98' '31,986.36' '4,611.05'
 '17,891.90' '4,382.52' '30,971.44' '30,979.78' '32,777.13' '28,120.94'
 '22,418.48' '30,836.98' '10,249.81' '35,102.29' '18,477.14' '23,835.92'
 '25,115.22' '30,559.16' '19,205.22' '24,170.32' '19,587.22' '24,524.14'
 '30,586.44' '31,124.36' '24,612.69' '25,239.84' '25,152.39' '31,175.65'
 '32,899.16' '19,727.44' '34,604.25' '10,028.16' '29,225.07' '25,410.58'
 '24,518.86' '23,921.82' '4,584.55' '34,425.17' '31,189.66' '31,059.56'
 '23,002.15' '18,847.80' '22,975.09' '10,096.56' '16,527.81' '30,815.94'
 '27,787.74' '28,474.83' '29,472.93' '21,051.24' '30,853.32' '25,029.07'
 '28,556.72' '20,101.64' '33,756.87' '18,222.62' '20,210.47' '24,944.50'
 '25,667.44' '9,661.18' '19,148.70' '34,590.10' '14,187.57' '18,238.48'
 '20,945.15' '27,382.73' '9,943.90' '19,168.93' '19,350.86' '22,356.80'
 '29,690.96' '23,669.77' '21,373.95' '24,089.74' '20,098.68' '19,271.82'
 '10,075.86' '27,814.54' '20,121.67' '34,530.25' '22,368.42' '20,126.00'
 '20,646.66' '24,376.13' '30,076.93' '9,306.00' '31,730.97' '28,652.36'
 '25,652.96' '25,558.45' '31,055.39' '9,863.98' '19,703.84' '24,871.86'
 '19,656.92' '24,447.44' '24,041.86' '19,272.54' '19,571.81' '21,993.41'
 '19,089.60' '19,929.24' '29,644.49' '25,067.06' '26,870.76' '30,762.42'
 '8,628.68' '18,409.42' '16,651.52' '16,911.90' '19,621.60' '10,687.04'
 '18,508.20' '24,631.25' '26,138.14' '22,478.39' '10,126.01' '20,585.68'
 '24,547.28' '20,222.59' '18,544.79' '19,834.80' '25,382.92' '19,199.79'
 '20,834.71' '23,784.59' '15,605.06' '20,367.57' '29,447.91' '30,136.94'
 '19,985.08' '26,410.79' '10,323.52' '18,789.51' '9,705.17' '9,348.30'
 '24,629.93' '12,135.61' '18,726.88' '24,859.56' '10,288.17' '24,460.28'
 '18,224.33' '25,127.18' '10,197.34' '3,967.11' '4,494.36' '19,511.22'
 '17,912.70' '26,986.26' '18,234.25' '26,043.16' '20,264.82' '11,744.37'
 '30,058.80' '9,887.36' '30,909.72' '18,467.34' '18,111.72' '24,883.91'
 '18,825.08' '25,978.41' '24,718.52' '20,340.24' '30,697.32' '25,622.06'
 '10,140.96' '9,516.04' '19,118.71' '18,566.84' '19,691.88' '25,058.12'
 '24,570.96' '15,190.44' '9,178.52' '20,544.18' '29,585.47' '25,715.83'
 '31,151.51' '29,137.88' '9,360.98' '20,723.25' '19,604.48' '34,830.37'
 '25,609.56' '24,741.17' '27,214.46' '23,620.14' '19,233.50' '14,082.42'
 '19,595.59' '33,630.51' '13,859.80' '20,052.69' '32,677.49' '10,277.02'
 '26,021.75' '8,956.48' '31,044.93' '20,520.25' '10,340.62' '30,092.70'
 '10,053.27' '19,986.24' '22,985.12' '23,427.20' '16,726.44' '18,191.28'
 '26,600.83' '30,206.36' '30,699.41' '9,609.69' '28,164.28' '13,245.69'
 '18,136.86' '9,846.35' '23,938.72' '21,384.49' '26,197.81' '18,668.12'
 '24,469.49' '20,167.94' '25,157.56' '21,017.85' '30,079.84' '29,448.98'
 '24,835.68' '18,326.77' '24,349.60' '18,154.42' '22,008.45' '9,085.98'
 '19,709.33' '9,397.07' '18,710.86' '17,831.64' '28,537.80' '22,003.30'
 '26,105.07' '12,705.29' '9,793.04' '19,979.74' '8,764.93' '4,715.35'
 '13,599.82' '20,002.80' '23,898.42' '9,992.70' '8,790.09' '8,707.63'
 '9,420.65' '7,777.24' '23,846.06' '28,985.64' '22,687.92' '18,326.49'
 '8,363.23' '14,814.19' '19,143.72' '18,053.49' '18,232.42' '18,030.66'
 '9,691.49' '19,288.42' '7,934.23' '26,758.80' '9,137.18' '18,091.26'
 '20,029.23' '20,636.60' '24,548.08' '19,717.91' '24,654.63' '24,797.88'
 '8,967.08' '25,164.38' '20,119.86' '8,740.65' '18,877.88' '30,096.46'
 '28,795.05' '19,751.20' '10,017.00' '24,845.18' '9,204.78' '24,534.64'
 '16,670.11' '24,689.14' '9,635.27' '24,906.84' '18,309.85' '8,883.41'
 '18,171.45' '26,242.99' '22,046.76' '19,828.96' '16,585.06' '19,170.82'
 '24,119.26' '18,794.14' '19,176.11' '25,774.17' '19,568.38' '24,710.94'
 '24,342.79' '29,923.40' '20,975.34' '9,941.17' '18,420.27' '20,156.82'
 '30,510.61' '9,955.66' '28,235.48' '24,886.21' '9,600.04' '9,344.95'
 '18,896.12' '19,327.80' '9,809.01' '19,634.93' '8,458.39' '17,608.73'
 '20,905.30' '20,257.33' '19,549.72' '23,782.60' '18,534.96' '25,324.06'
 '26,697.50' '18,346.86' '18,841.34' '19,864.04' '31,110.88' '29,121.30'
 '11,947.71' '18,641.58' '24,047.04' '23,232.04' '18,752.73' '24,518.48'
 '12,398.04' '28,265.18' '8,325.77' '29,940.84' '20,000.99' '9,385.57'
 '20,531.73' '24,277.90' '20,142.06' '19,954.66' '23,587.10' '18,655.48'
 '20,224.50' '18,243.56' '24,813.38' '9,390.60' '18,668.13' '25,536.92'
 '21,071.09' '19,852.25' '16,263.22' '7,797.84' '4,483.54' '4,804.88'
 '9,254.37' '19,315.51' '18,108.59' '10,522.78' '25,351.88' '19,774.58'
 '18,229.07' '20,793.69' '24,588.94' '10,464.56' '9,852.18' '23,158.82'
 '9,559.29' '19,592.49' '23,807.60' '18,754.50' '19,347.20' '20,035.42'
 '17,750.58' '23,296.82' '18,038.83' '24,807.86' '18,003.56' '17,947.73'
 '24,867.78' '9,990.57' '16,713.10' '18,265.98' '8,561.29' '18,730.96'
 '26,809.06' '9,370.40' '7,867.06' '19,229.21' '18,612.00' '9,241.70'
 '19,538.05' '26,622.66' '19,821.49' '16,442.14' '17,766.00' '18,653.06'
 '18,356.67' '14,722.41' '19,681.08' '17,955.66' '20,602.37' '8,591.62'
 '9,954.83' '11,939.96' '24,834.56' '18,494.45' '23,407.36' '16,610.79'
 '25,568.83' '18,270.03' '12,043.49' '25,145.64' '24,830.18' '16,717.55'
 '9,686.18' '9,849.57' '20,140.06' '24,184.13' '18,342.11' '18,380.64'
 '8,219.11' '9,240.16' '17,946.63' '18,791.16' '17,172.81' '22,695.76'
 '17,872.38' '13,292.80' '24,511.24' '9,055.96' '24,550.39' '9,478.44'
 '18,593.62' '24,841.24' '9,095.84' '18,740.28' '24,892.82' '18,259.10'
 '16,594.15' '20,116.72' '24,770.10' '20,517.16' '18,479.75' '8,871.23'
 '13,941.30' '24,776.83' '19,573.28' '18,419.46' '18,114.28' '20,406.85'
 '9,452.01' '9,036.61' '20,132.35' '18,782.28' '23,649.08' '19,609.20'
 '16,510.02' '24,527.25' '8,623.48' '18,064.65' '8,997.00' '13,531.72'
 '23,728.14' '19,549.42' '11,548.55' '19,737.80' '23,509.50' '23,181.08'
 '16,248.64' '23,486.32' '11.59' '19,286.27' '23,021.44' '24,638.93'
 '10,374.54' '18,450.05' '5,937.53' '8,682.24' '19,911.18' '18,919.16'
 '19,720.13' '18,160.63' '1,442.46' '18,121.52' '9,896.76' '16,623.80'
 '18,519.27' '19,852.43' '6,812.14' '18,544.76' '23,012.00' '20,193.67'
 '18,788.64' '9,675.72' '18,534.15' '8,798.81' '23,249.58' '19,887.42'
 '4,403.76' '18,853.90' '11,701.56' '19,003.09' '19,479.84' '8,763.30'
 '19,444.02' '8,971.24' '24,404.29' '3,888.56' '9,807.60' '9,983.16'
 '13,906.79' '19,669.52' '17,994.08' '19,391.30' '19,140.15' '13,280.42'
 '16,628.25' '14,687.31' '18,860.06' '9,459.84' '9,477.23' '8,767.20'
 '23,531.48' '18,080.59' '5,863.98' '6,483.72' '13,741.72' '18,398.50'
 '18,821.27' '4,295.84' '9,491.04' '19,641.40' '9,828.46' '24,371.21'
 '17,567.55' '18,483.40' '9,412.80' '17,596.80' '7,223.15' '17,703.09'
 '8,510.56' '9,620.17' '18,919.50' '18,706.84' '19,260.28' '7,898.35'
 '9,804.60' '9,902.16' '9,208.68' '24,499.65' '9,197.36' '9,420.58'
 '22,534.46' '18,570.68' '20,370.07' '10,132.60' '18,480.32' '9,889.68'
 '9,760.26' '8,202.00' '8,997.04' '9,518.56' '18,010.39' '9,411.93'
 '17,248.40' '19,906.86' '3,609.33' '13,410.76' '9,602.54' '10,580.59'
 '7,329.96' '7,963.00' '10,001.16' '18,502.68' '8,124.06' '13,734.66'
 '16,642.63' '5,750.75' '9,221.40' '3,167.75' '9,038.90' '1,432.08'
 '8,123.98' '3,590.06' '2,816.36' '2,134.11' '7,827.64' '4,604.33'
 '7,469.80' '1,649.70' '4,786.52' '5,945.88' '4,714.80' '4,957.35'
 '8,385.02' '5,568.27' '13,782.19' '5,016.65' '9,482.12' '2,546.88'
 '6,769.97' '5,340.11' '1,769.23' '9,550.59' '4,684.44' '5,781.12'
 '2,006.71' '6,548.94' '2,772.28' '1,474.14' '3,047.16' '2,910.64'
 '27,730.95' '3,654.31' '1,898.10' '453.73' '1,354.00' '9.16' '365.02'
 '1,159.05' '7,541.99' '186.71' '6,037.59' '6,109.58' '1,354.98' '375.64'
 '896.90' '4,992.83' '1,009.01' '1,199.36' '1,094.06' '6,598.80'
 '1,420.50' '1,489.92' '601.96' '2,545.64' '2,438.92' '1,789.88' '693.37'
 '670.88' '2,310.33' '28.18' '2,195.04' '558.47' '2,622.60']

26,161.00    31
20,928.98    26
18,409.42    23
31,906.88    20
18,781.20    16
             ..
20,340.24     1
30,697.32     1
25,622.06     1
18,566.84     1
2,622.60      1
Name: QUINN_EDUCATION, Length: 818, dtype: int64




['1,112,348.25' '596,949.44' '446,406.31' ... '23.68' '21.28' '14.06']

1,500.00      31
26,578.87     28
19,056.85     13
118,769.38    11
123,922.10    11
              ..
109,924.02     1
109,925.18     1
109,931.08     1
109,937.66     1
14.06          1
Name: TOTAL_ GROSS, Length: 22428, dtype: int64




['02186' '55419' '02152' '02052' '02476' '02021' '02559' '02121' '02492'
 '01867' '02131' '02360' '02332' '02132' '02134' '02124' '02072' '02136'
 '02766' '02184' '02536' '02120' '02135' '02176' '02364' '02339' '02127'
 '02062' '02035' '02122' '02118' '02301' '02050' '02081' '02090' '02128'
 '02359' '02053' '02148' '02170' '02302' '02125' '02767' '02346' '02119'
 '02045' '02093' '02169' '02472' '02215' '02019' '02126' '01821' '02032'
 '02061' '02026' '01754' '02368' '02129' '02446' '01864' '01960' '02066'
 '02324' '02668' '02065' '02149' '02048' '02130' '01532' '02466' '01890'
 '01887' '02038' '02769' '02043' '02151' '01770' '02190' '02726' '02191'
 '02171' '02143' '03561' '01463' '02054' '02370' '02150' '02770' '02180'
 '02632' '02467' '02343' '02382' '01921' '01876' '02356' '02030' '01760'
 '02494' '01453' '02210' '02379' '02189' '01835' '01904' '02375' '01742'
 '01970' '02056' '01950' '01880' '02322' '02327' '02703' '01940' '02155'

In [9]:
import pandas as pd
pd.set_option('display.max_columns',None)
boDf=pd.read_csv('c:\cc\ebd.csv')
boDf

,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN_EDUCATION,TOTAL_ GROSS,POSTAL
0,"Gavin,Donna M.",Boston Police Department,Police Lieutenant (Det),"53,226.90",NaN,"1,045,845.44",463.52,NaN,NaN,"12,812.39","1,112,348.25",02186
1,"Cassellius,Brenda",Superintendent,Superintendent,"179,109.61",NaN,"417,839.83",NaN,NaN,NaN,NaN,"596,949.44",55419
2,"Dempsey,John",Boston Fire Department,Commissioner (BFD),"133,653.78",NaN,"312,752.53",NaN,NaN,NaN,NaN,"446,406.31",02152
3,"Demesmin,Stanley",Boston Police Department,Police Lieutenant (Det),"145,775.26",NaN,"13,932.92","196,515.25",NaN,"11,880.00","29,155.26","397,258.69",02052
4,"Smith,Sean P",Boston Police Department,Police Lieutenant,"142,535.62",NaN,"18,827.45","142,692.38",NaN,"46,365.00","35,633.88","386,054.33",02186
...,...,...,...,...,...,...,...,...,...,...,...,...
23199,"wheeler,Stephen clifford",Boston Cntr - Youth & Families,Lifeguard I,42.01,NaN,NaN,NaN,NaN,NaN,NaN,42.01,02129
23200,"Harris,Gloria",BPS Office Of Budget Mgmt,Attendant,24.23,NaN,NaN,NaN,NaN,NaN,NaN,24.23,02136
23201,"Jackson,Wanita Tina",Boston Police Department,School Traffic Supv,23.68,NaN,NaN,NaN,NaN,NaN,NaN,23.68,02119
23202,"Paul,Desmond",BPS Substitute Teachers/Nurs,Substitute Teacher HE,21.28,NaN,NaN,NaN,NaN,NaN,NaN,21.28,02119
23203,"Robinson,Marvin L",BPS Substitute Teachers/Nurs,Substitute Teacher HE,14.06,NaN,NaN,NaN,NaN,NaN,NaN,14.06,02126

In [23]:
#check the skewness of the attributes
import numpy as np
intFloatboDf=boDf.select_dtypes([np.int,np.float])
for i, col in enumerate(intFloatboDf.columns):
    if (intFloatboDf[col].skew()>= 0.1):
        print("\n",col,"feature is positively skewed and value is:", intFloatboDf[col].skew()) 
    elif (intFloatboDf[col].skew()<= -0.1):
        print("\n",col,"feature is negtively skewed and value is:", intFloatboDf[col].skew())
    else:
        print("\n",col,"feature is normally distributed and value is:", intFloatboDf[col].skew())

C:\Users\omita\AppData\Local\Temp\ipykernel_15324\1719214276.py:3: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  intFloatboDf=boDf.select_dtypes([np.int,np.float])
C:\Users\omita\AppData\Local\Temp\ipykernel_15324\1719214276.py:3: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  intFloatboDf=boDf.select_dtypes([np.int,np.float])

In [10]:
boDf.tail()

,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN_EDUCATION,TOTAL_ GROSS,POSTAL
23199,"wheeler,Stephen clifford",Boston Cntr - Youth & Families,Lifeguard I,42.01,NaN,NaN,NaN,NaN,NaN,NaN,42.01,02129
23200,"Harris,Gloria",BPS Office Of Budget Mgmt,Attendant,24.23,NaN,NaN,NaN,NaN,NaN,NaN,24.23,02136
23201,"Jackson,Wanita Tina",Boston Police Department,School Traffic Supv,23.68,NaN,NaN,NaN,NaN,NaN,NaN,23.68,02119
23202,"Paul,Desmond",BPS Substitute Teachers/Nurs,Substitute Teacher HE,21.28,NaN,NaN,NaN,NaN,NaN,NaN,21.28,02119
23203,"Robinson,Marvin L",BPS Substitute Teachers/Nurs,Substitute Teacher HE,14.06,NaN,NaN,NaN,NaN,NaN,NaN,14.06,02126

In [19]:
boDf = bodf.astype({"REGULAR": int},errors='ignore')

NameError: name 'bodf' is not defined

In [17]:
boDf.shape

(23204, 12)

In [24]:
import pandas as pd
import numpy as np


# Load the dataset
df = pd.read_csv('c:\cc\ebd.csv')

# Convert relevant columns to numerical data types
numerical_columns = ['Base Salary', 'Overtime', 'Total Compensation']

# Remove any non-numeric characters (e.g., $, commas) and convert to float
df[numerical_columns] = df[numerical_columns].replace({'\$': '', ',': ''}, regex=True).astype(float)

# Calculate the skewness of each numerical column
skewness_results = df[numerical_columns].skew()

# Output the skewness results
print("Skewness of numerical columns:")
print(skewness_results)

KeyError: "None of [Index(['Base Salary', 'Overtime', 'Total Compensation'], dtype='object')] are in the [columns]"

In [25]:
import pandas as pd
import numpy as np

# Assuming you have already loaded the dataset into a pandas DataFrame called 'payroll_data'

# Convert numeric columns to float type
numeric_columns = ['Base Salary', 'Overtime', 'Total Compensation']
payroll_data[numeric_columns] = payroll_data[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Check the skewness of the data
skewness = payroll_data[numeric_columns].skew()

# Display the skewness values
print("Skewness of the numerical columns:")
print(skewness)

NameError: name 'payroll_data' is not defined